<%= form_with(model: test, local: true) do |form| %>

  
  <%= render "shared/errors", obj: test %>
  <div class="myform mx-auto">
    <div class="form-group">
      <%= form.label :test_date %>
      <%= form.date_select :test_date, class: "form-control"  %>
    </div>
  
    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control"  %>
    </div>
  
    <div class="form-group">
      <%= form.label :product %>
      <%= form.text_field :product, class: "form-control"  %>
    </div>
  
    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_area :description, class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= form.label :result %>
      <%= form.text_field :result, class: "form-control"  %>
    </div>
  
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control"  %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
