<p id="notice"><%= notice %></p>

<p>
  <strong>Test date:</strong>
  <%= @test.test_date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Product:</strong>
  <%= @test.product %>
</p>

<p>
  <strong>Description:</strong>
  <%= @test.description %>
</p>

<p>
  <strong>Result:</strong>
  <%= @test.result %>
</p>

<p>
  <strong>Name:</strong>
  <%= @test.name %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
